---
import type { ExperienceDetails } from '@/types';
import styles from '@/data/styles.json';

interface Props {
  title: string;
  experiences: ExperienceDetails[];
}

const { experiences, title } = Astro.props;

const formatDateRange = (startDate: string, endDate: string): string => {
  const formatDate = (dateString: string): string => {
    if (dateString.toLowerCase() === 'present') {
      return 'Present';
    }

    const date = new Date(dateString);
    const monthNames = [
      'Jan.',
      'Feb.',
      'Mar.',
      'Apr.',
      'May',
      'Jun.',
      'Jul.',
      'Aug.',
      'Sep.',
      'Oct.',
      'Nov.',
      'Dec.',
    ];

    return `${monthNames[date.getMonth()]} ${date.getFullYear()}`;
  };

  return `${formatDate(startDate)} — ${formatDate(endDate)}`;
};
---

<div class="mb-20 grid grid-cols-1 gap-8 md:grid-cols-12">
  <div class="md:col-span-3">
    <h2 class={`${styles.preHeading} sticky top-24`}>{title}</h2>
  </div>
  <div class="space-y-12 md:col-span-9">
    {
      experiences.map((experience: ExperienceDetails) => (
        <div class="relative space-y-12">
          <div class="border-border-secondary group relative border-l pl-6 md:pl-8">
            <div class="bg-background-tertiary absolute -left-[5px] top-0 h-2.5 w-2.5 rounded-full transition-colors group-hover:bg-zinc-900 dark:group-hover:bg-white" />
            <div class="mb-4 flex flex-col justify-between sm:mb-0 sm:flex-row sm:items-baseline">
              <h3 class="text-xl font-bold">{experience.title}</h3>
              <div class="text-md block font-medium sm:hidden">{experience.company}</div>
              <span class="text-md">
                {formatDateRange(experience.startDate, experience.endDate)}
              </span>
            </div>
            <div class="text-md mb-4 hidden font-medium sm:block">{experience.company}</div>
            <ul class="pl-2 md:pl-8">
              {experience.details.map((detail: string) => (
                <li class={`list-disc ${styles.secondaryText}`}>{detail}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</div>
