---
import ProjectIcon from './shared/ProjectIcon.astro';

interface Props {
  title: string;
  shortDescription: string;
  tags: string[];
  githubUrl?: string;
  liveUrl?: string;
}
const { title, shortDescription, tags, githubUrl, liveUrl } = Astro.props;
---

<article class="group h-full cursor-pointer md:row-span-2">
  <div
    class="border-border-secondary bg-card-secondary relative h-full overflow-hidden rounded-md border shadow-sm transition-all duration-500 hover:-translate-y-1 hover:shadow-xl md:flex-row"
  >
    <div class="relative h-64 overflow-hidden">
      <div class="absolute right-4 top-4 z-10 flex flex-row gap-2">
        {githubUrl && <ProjectIcon icon="fab fa-github" link={githubUrl} />}
        {liveUrl && <ProjectIcon icon="fa-solid fa-arrow-up-right-from-square" link={liveUrl} />}
      </div>
      <img
        alt="Project One Dashboard Screenshot"
        class="h-full w-full transform object-cover transition-transform duration-700 group-hover:scale-105"
        src="https://plus.unsplash.com/premium_photo-1766341850481-5bb38d040ab0?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>
    <div class="px-4 py-6">
      <div class="flex items-start justify-between">
        <div>
          <h3
            class="text-md text-primary mb-3 font-bold transition-colors group-hover:text-purple-600 dark:text-white dark:group-hover:text-purple-400"
          >
            {title}
          </h3>
        </div>
      </div>
      <p class="text-secondary-text mb-6 line-clamp-3 text-sm leading-relaxed dark:text-gray-400">
        {shortDescription}
      </p>
      <div class="bg-border-secondary my-4 h-px w-full"></div>
      <div class="mt-auto flex items-center justify-between">
        <div class="flex flex-wrap gap-2">
          {
            tags.map((tag, tagIndex) => (
              <>
                <span class="font-mono text-xs text-gray-400 dark:text-gray-500">{tag}</span>
                {tagIndex < tags.length - 1 && (
                  <span class="font-mono text-xs text-gray-400 dark:text-gray-500">•</span>
                )}
              </>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</article>
