---
// Footer component
import type { SocialLink } from '@/types';
import Icon from '@/components/atoms/Icon.astro';
import Button from '@/components/atoms/Button.astro';
import classes from '@/data/styles.json';
import SectionHeader from '@/components/molecules/SectionHeader.astro';

interface Props {
  socials: SocialLink[];
  copyright: string;
}

const { socials, copyright } = Astro.props;
---

<footer role="contentinfo">
  <section
    class="border-border-secondary relative overflow-hidden border-t px-6 py-24"
    id="contact"
  >
    <div class={classes.container}>
      <div class="mx-auto mb-12 flex max-w-4xl flex-col items-center text-center">
        <SectionHeader preHeading="Get in Touch" heading={["Let's work together"]} />
        <p class={classes.secondaryText}>
          Get in Touch Ready to start a project? I am available for freelance work and full-time
          roles. If you have a project in mind or want to discuss a potential collaboration, reach
          out via email or on LinkedIn — I'd love to hear from you.
        </p>
        <div class="flex flex-col items-center gap-6 pt-8">
          <Button style="primary" href="https://www.linkedin.com/in/shavarsean/">
            <Icon name="LinkedIn" class="mr-3 h-6 w-6" width="24" height="24" />
            Connect on LinkedIn
          </Button>
          <Button style="tertiary" href="mailto:shavarsean@gmail.com?subject=Hello%20Sean">
            Or just say hello via email
          </Button>
        </div>
      </div>
      <div class="flex flex-col items-center justify-between gap-6 pt-16 md:flex-row">
        <p class="order-2 text-xs md:order-1">
          {copyright}
        </p>
        <div class="order-1 flex gap-6 md:order-2">
          {
            socials.map((social: SocialLink) => {
              return (
                <a
                  aria-label={social.label}
                  class="hover:text-quaternary transition-colors"
                  href={social.href}
                  target={social.target}
                >
                  <Icon name={social.label} class="h-5 w-5" width="20" height="20" />
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
</footer>
